@import url('https://fonts.googleapis.com/css?family=News+Cycle|Permanent+Marker|Source+Sans+Pro');

/********************/
/* VUE Transitions */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
 }

.fade-enter,
.fade-leave-active {
    opacity: 0;
    position: absolute;
}

.fade-in-leave,
.fade-in-enter-to {
  opacity: 1;
}

.flow-in-enter {
  opacity: 0;
  transform: translateX(-10rem);
}

.flow-in-leave-to {
opacity: 0;
transform: translateX(10rem);
}

.flow-in-leave,
.flow-in-enter-to {
opacity: 1;
transform: translateX(0rem);
}

.flow-in-enter-active,
.flow-in-leave-active {
  transition: opacity .2s, transform .2s ease-out;
  will-change: transform;
}

/* VUE Transitions */
/******************/

.app {
    /* display: flex; */
    /* flex-direction: column; */
    min-height: 100%;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: 91vh;
  min-height: 90%;
}

.cred-header {
  display: flex;
  align-self: center;
  font-family: 'Permanent Marker';
  color: #ccc;
  transition: color .3s ease;
  margin: 0;
  padding: 0;
}

.btn__submit,
.btn__new {
  display: flex;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  border: 2px solid #ccc;
  color: #5fa145;
  font: 1.4rem 'Permanent Marker';
  box-shadow: 1px 0px 10px grey;
  transition: box-shadow .3s, color .3s, border .2s;
  cursor: pointer;
  padding: .35rem;
}

.btn__submit {
  align-self: center;
}

.btn__new {
  align-self: flex-end;
  margin:0;
}

.btn__submit:hover,
.btn__new:hover {
  box-shadow: 1px 1px 20px #daa520;
  border: 2px solid #ffde23;
  color: #daa520;
} 
