.btn-sdi {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    padding: .15rem .6rem;
    background: transparent;
    border:2px solid #333;
    box-shadow: 1px 2px 8px grey;
    border-radius: .7rem;
    font: 1.5rem 'Permanent Marker';
    transition: box-shadow .25s, color .25s, border .25s;
    cursor: pointer;
}

.btn-sdi:hover {
    box-shadow: 0 0 10px goldenrod;
    border:2px solid rgb(206, 159, 41);
    color: goldenrod;

}
.modal__header {
    display:flex;
    justify-content: flex-end;
    width: 100%;
}

.modal__footer {
    display: flex;
    height: 5rem;
}

.modal__exit {
    align-self: flex-start;
    color: #808080;
    font: 2.4rem 'Arial';
    font-weight: bold;
    background: transparent;
    cursor:pointer;
    transition: color .2s;
    margin: 0;
    border: 0;
}

.modal__exit:hover { color:#ccc; }


.modal__overlay {
    background: rgba(0.2, 0.2, 0.4, 0.3);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    flex: 1;
    z-index: 200;
}

